
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is who I am</span>
                    </div>
                </div>
            </div>
        </div>

    </header>
   

    <!-- Main Content -->
    <div class="container">
          


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                    

                 <span style="float:left;padding-right: 15px;"> <%= image_tag("alex-hs.jpg",class: "img-thumbnail img-responsive") %></span>

                My name is Alex Swiec and  I am passionate about Product Management, Coaching, Online Education, Entrepreneurship,  Development and Testing (if associated with TDD and BDD).
                <p>
             

                 I currently work at <a href="https://www.careershifters.org">Careershifters</a> as Head of Product. Careershifters is the perfect combination of professional Career Coaching services, technology and digital products.
                </p>
               <p> I've also co-founded Product Tank Madrid.  Product Tank is a global community of more than 20,000 Product Managers world wide that get together and discuss about digital product management.  To join our 500+ Madrid PM tribe, please click <%= link_to "here", "http://www.meetup.com/ProductTank-Madrid/" , target: '_blank' %>. </p>

                <p>In my past life I worked as a consultant in <a href="http://www.altran.com/">Altran Spain</a>, and later moved to the UK to work for  <a href="http://www.o2.co.uk/">o2 Europe</a>, where I worked as Program Manager. After o2 Europe I made an internal move to <a href="https://www.telefonica.com">Telefonica Digital</a> as Product Manager.</p>

                <p>After Telefonica I shifted from Telecommunications to Financial Services and worked as EMEA Product Manager for <a href="https://www.firstdata.com/en_us/home.html">First Data</a> on Pogo (Payments on the Go), a mobile app that enabled payments using credit card payments. 
                </p>

                  <p>
                I also studied Telecommunication Engineering in and an MBA in Alacla de Henares, Spain.</p>
            
                <p>
                Please feel free to get in touch through the <a title="contact form" href=" contact.html">contact form</a> on the site or writing directly to my email address <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> alex@alexswiec.com </a>.</p>
              

            </div>
        </div>
    </div>

    <hr>