
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is who I am</span>
                    </div>
                </div>
            </div>
        </div>

    </header>
   

    <!-- Main Content -->
    <div class="container">
          


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                    

                 <span style="float:left;padding-right: 15px;"> <%= image_tag("alex-hs.jpg",class: "img-thumbnail img-responsive") %></span>

                My name is Alex Swiec and  I am passionate about Product Management, Online Education, Entrepreneurship,  Development and Testing (if associated with TDD and BDD).
                <p>
                 I'm also passionate about my family, friends, being a dad and doing sports.
                </p>
                <p>
                I studied Telecommunication Engineering in and an MBA in Alacla de Henares, Spain.</p>

                <p>I have worked as a consultant in <a href="http://www.altran.com/">Altran</a> for several years in Spain, and later moved to the UK to work for  <a href="http://www.o2.co.uk/">o2 Europe</a>, where I worked as Program Manager, and and afterwards moved inside the company to work as Product Manager for <a href="https://www.telefonica.com">Telefonica Digital</a>.</p>

                <p>After leaving Telefonica, I shifted from Telecommunications to Financial Services, and worked one year as EMEA Product Manager for <a href="https://www.firstdata.com/en_us/home.html">First Data</a> on their Pogo Product (Payments on the Go). 
                </p>
                <p> 
                On May 2015 I left the corporate world and joined <a href="https://www.careershifters.org">Careershifters</a> as Head of Product.
                </p>
                <p>Careershifters is the perfect combination of professional career coaching services, usage of internet technology and products while providing one of the best career change content in the world, with the unique purpose of helping people find work they love. 
                </p>
                 <p>
                I'm currently working 100% remotely from Madrid (where I'm originally from), and here I co-founded and now organise Product Tank Madrid. To join the tribe please click <%= link_to "here", "http://www.meetup.com/ProductTank-Madrid/" , target: '_blank' %>. </p><p> Product Tank is a global community of more than 20,000 Product Managers world wide that get together and discuss about digital product management.</p>

                If you want to know more details about my work experience, please feel free to download my CV by clicking <u>  <%= link_to "here", "http://bit.ly/cv-alexswiec", :target => "_blank" %></u>. 
                <p>
                Please feel free to get in touch through the <a title="contact form" href=" contact.html">contact form</a> on the site or writing directly to my email address <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> alex@alexswiec.com </a>.</p>
              

            </div>
        </div>
    </div>

    <hr>