
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                      
                My name is Alex Swiec and  I am passionate about Product Management, Online Education, Entrepreneurship,  Development and Testing (if associated with TDD and BDD).
                <p>
                 I'm also passionate about my family, friends, being a dad and doing sports.
                </p>
                <p>
                I studied Telecommunication Engineering in Spain, and have worked for more than 8 years for <a href="https://www.telefonica.com">Telefonica</a> and one year for <a href="https://www.firstdata.com/en_us/home.html">First Data</a>. 
                </p>
                <p> 
                On May 2015 I left the corporate world and joined Careershifters as Head of Product Management.
                </p>
                <p>Careershifters is the perfect combination of professional career coaching services,  and usage of internet technology and products while providing one of the best career change content in the world, with the unique purpose of helping people find work they love. 
                </p>
                 <p>
                I'm currently living in Madrid, and recently co-founded and organise <a href="www.meetup.com/ProductTank-Madrid/">Product Tank Madrid</a>.  Product Tank is a global community of more than 20,000 Product Managers world wide that get together and discuss about digital product management. 

                <p> Check out our <a href="www.meetup.com/ProductTank-Madrid/">meetup page</a> to see if you want to join the next Product Tank Madrid event.   </p>
                </p>               
                Please feel free to get in touch through the <a title="contact form" href=" contact.html">contact form</a> on the site or writing directly to my email address <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> alex@alexswiec.com </a>.
                <p>
                Thanks for reading my blog, and looking forward to hearing from you.
                </p>
  
                Alex


            </div>
        </div>
    </div>

    <hr>