
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      
                My name is Alex Swiec and I'm currently living in Madrid.  
                <br>

                <p>I work as Head of Product at <a href="http://www.careershifters.org"> Careershifters </a>, helping shape products and services and being part of the exciting challenge of making our customers find the job that makes them feel alive and happy to wake up every day of their life and not just weekends. <br> <br>

                Please feel free to get in touch through the <a title="contact form" href=" contact.html">contact form</a> on the site or writing directly to my email address <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> alex@alexswiec.com </a>.<br><br>
                <p>
                Thanks for reading my blog, and looking forward to hearing from you.
                </p>
                <br><br>
                Alex


            </div>
        </div>
    </div>

    <hr>