<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/books-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Books</h1>
                        <hr class="small">
                        <span class="subheading">A list of books I've read</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
                <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07">
                    <a href="#" style="float:left;padding-right: 15px;"> <%= image_tag book_thumbnail %></a>
                    <figcaption>
                        <h3><a href="/book/SoGood">So Good They Can't Ignore You - by Cal Newport</a></h3>
                        <p>ISBN: 1455509124 READ: 2012-10-07 RATING: 10/10</p>
                        <p>Shockingly smart thoughts about your career. A MUST-READ for anyone who is not loving their work, wanting to quit their job, and follow their passion, or not sure what to do next.  I'm recommending this many times a week to people who email me with these kinds of questions. Best book I've ever read on the subject.</p>
                    </figcaption>
                </figure>


                 <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07">
                    <a href="#" style="float:left;padding-right: 15px;"> <%= image_tag book_thumbnail %></a>
                    <figcaption>
                        <h3><a href="/book/SoGood">So Good They Can't Ignore You - by Cal Newport</a></h3>
                        <p>ISBN: 1455509124 READ: 2012-10-07 RATING: 10/10</p>
                        <p>Shockingly smart thoughts about your career. A MUST-READ for anyone who is not loving their work, wanting to quit their job, and follow their passion, or not sure what to do next.  I'm recommending this many times a week to people who email me with these kinds of questions. Best book I've ever read on the subject.</p>
                    </figcaption>
                </figure>
         
                 <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07">
                    <a href="#" style="float:left;padding-right: 15px;"> <%= image_tag book_thumbnail %></a>
                    <figcaption>
                        <h3><a href="/book/SoGood">So Good They Can't Ignore You - by Cal Newport</a></h3>
                        <p>ISBN: 1455509124 READ: 2012-10-07 RATING: 10/10</p>
                        <p>Shockingly smart thoughts about your career. A MUST-READ for anyone who is not loving their work, wanting to quit their job, and follow their passion, or not sure what to do next.  I'm recommending this many times a week to people who email me with these kinds of questions. Best book I've ever read on the subject.</p>
                    </figcaption>
                </figure>
                    

           </div>
        </div>
    </div>

    <hr>