    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

   <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <strong><p>Want to get in touch with me? </p></strong>

                I love getting emails with questions, comments or anything that goes through your mind. Please send me an email to <u><a href="mailto:alex@alexswiec.com">alex@alexswiec.com</a></u><br>

                <br>If I don't reply, feel free to send the another email requesting my repsonse, and also get in tough through LinkedIn, twitter, github or Medium. <p>The thing is that sometimes mails do get lost in my inbox, and that has nothing to do with and more to the fact that "shit happens".</p>  
                Thanks,<br><br>
                Alex 


            </div>
        </div>
    </div>

    <hr>