 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                

                   <h1> August 2016 </h1><br>

                <h3> What I said I would do </h3>
                 <ul>
                    
                       <li><strong>Learning</strong>: My goal was to study an course related with Google Analytics, and read the book "Lean Analytics". 
                      <br>

                      <li><strong>Product Tank</strong>: Organising the next Product Tank Madrid, which should happen at the end of September. If you want to be up to speed with what is going on in Product Tank, <a href= "http://www.meetup.com/ProductTank-Madrid/", target="blank"> join Product Tank Madrid meetup</a> and be up to speed with the events we will launch.</li>
                      <br>

                      <li><strong>My Blog</strong>: The goal was to update the MOOCs and Books in the site, find the way to upload it all to heroku, change the URL so that I can use www.alexswiec.com for this blog, and make this site my official blog site.  </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: The goal was to get into the habit of writing again. I've enjoyed writting in the past, and want to get the habit back again, so this month the goal is to write at least 750 words per day.</li>
                      <br>
                     
                       <li><strong>Development</strong>: Ideal goal is to develop 30 minutes per day, with focus on putting RSpec test for my blog (yes, I do TDD on my blog, and I find it kind of cool btw).</li>

                       <br>
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal in my blog to provide career coaching for people who feel stuck in their career. </li>
                      <br>
                      <br>


              <h3> What I've done</h3>

                      <li><strong>Learning</strong>: I finished the course of Google Analytics and got the certificate.  I just found out I got to the tip of the iceberg, and need to study tons more!  I'm still reading Lean Analytics, and to be honest its a bit on hold on September.  Should focus and finish September. 
                      <br>

                      <li><strong>Product Tank</strong>: Nearly closed, hope we can announce early on September.</li>
                      <br>

                      <li><strong>My Blog</strong>: I slipped white a bit here, and I want to get back to work on this.  I think its a great way to start sharing my learnings with the world.  </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: I've started writing and didn't quit until today.  All August and into September and writing.</li>
                      <br>
                     
                       <li><strong>Development</strong>: Finished module one of full stack development specialisation.  Happy I'm moving forward on this, and my github is showing green all over the place! Good sign I did the work I commited to! .</li>

                       <br>
                       <li><strong>Career Coaching</strong>: Only ideas from here and there, but nothing official. Well, I booked a domain this month, lets see where that leads to!  </li>
                      <br>
                      <br>



                  <h3> Lesson Learned</h3>

                  <p> What I see is that I'm getting better and following thorugh at what I say! Maybe slipped on the book of Lean Analytics (will get back to it asap) and also slipped in my personal coaching practice.  Will put focus on this too.</p>




                <h1> July 2016 </h1><br>

                <h3> What I said I would do </h3>
                 <ul>
                    
                     <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal </li>
                        <br>
                     <li><strong>Daily exercise</strong>: I've gained quite a number of kilos on 2016.  The goal for this month is to do daily exercise and loose 2 kilos.</li>
                        <br>
 
                  </ul>
  
                  <h3> What I've done</h3>


                     <li><strong>My Blog</strong>: I've updated some of the content but not all.  Also not all books. Still need to push to productopm</li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: No proposal, and I think unless more specific, I will not follow up on this.</li>
                        <br>
                      <li><strong>Daily exercise</strong>: Daily is too ambicious right now.  For next month doing 3 times per week and controling calories in is more than enough</li>
                        <br>

                  <h3> Lesson Learned</h3>

                  <p> What is missing is specificity on my personal goals.  If I'm not more specific, things will slip.  Let's try to put the Learning how to learn techniques into my life to get things done! </p>


                      <div class="col-md-offset-1">
                    <p>
                    <%= link_to "Back to Now", now_path, class: 'btn btn-warning' %>
                    </p>
                </div>