 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <h1> July 2016 </h1><br>

                <h3> What I said I would do </h3>
                 <ul>
                    
                     <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal </li>
                        <br>
                     <li><strong>Daily exercise</strong>: I've gained quite a number of kilos on 2016.  The goal for this month is to do daily exercise and loose 2 kilos.</li>
                        <br>
 
                  </ul>
  
                  <h3> What I've done</h3>


                     <li><strong>My Blog</strong>: I've updated some of the content but not all.  Also not all books. Still need to push to productopm</li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: No proposal, and I think unless more specific, I will not follow up on this.</li>
                        <br>
                      <li><strong>Daily exercise</strong>: Daily is too ambicious right now.  For next month doing 3 times per week and controling calories in is more than enough</li>
                        <br>

                  <h3> Lesson Learned</h3>

                  <p> What is missing is specificity on my personal goals.  If I'm not more specific, things will slip.  Let's try to put the Learning how to learn techniques into my life to get things done! </p>


                      <div class="col-md-offset-1">
                    <p>
                    <%= link_to "Back to Now", now_path, class: 'btn btn-warning' %>
                    </p>
                </div>