 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/historicalnow-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Historical Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I was focused on the past</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
 
               <h1> January 2017</h1><br>


  <h3>What I said I was going to do and what I actually did: </h3> 
                </p>
                <ul>
               
                       <li><strong>MOOC Learning</strong>: Goal was to finish Ionic Framework learning from <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>.  Did some work, but did not complete.  I was actually building an app for Careershifters, but I left it half done.  </li>
                      <br>

                        <li><strong>Book reading</strong>: Finished the book <u><a href="https://www.amazon.com/gp/product/1591844207">The Education of Millionaires</a></u>. Second goal not accomplished, which was reading <u><a href="http://leananalyticsbook.com/">"Lean Analytics"</a></u>.</li>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: We closed first Product Tank Madrid for 2017, which will be on 31 March 2017.</li>
                      <br>

                      <li><strong>Articles</strong>: Still scared to publish articles.  Should embrace this and publish 4 articles this month, to make sure I can grow here<br>                      <br>

                      
                       <li><strong>Development</strong>: Did not do much development on Jan.  A bit of Ionic, but not much more. </li>

                </ul>


               <h1> December 2016</h1><br>

               <h3> What I said I would do and what I really accomplished</h3>


                <ul>
               
                       <li><strong>Learning</strong>: Goal was to finish reading the book "Lean Analytics" and finishing the Module 4 and 5 of <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>.  Got through week 1 of Ionic Framework (Module 4 of course), and did not read lean analytics 
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: We had to cancel this</li>
                      <br>

                      <li><strong>My Blog</strong>: Did not write one entry per week for my blog around Product Management or Career Change. </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: I´ve been writing and although not as frequent as I would like to, I got some text and reflections done and out of my brain, which is really liberating. </li>
                      <br>
                     
                       <li><strong>Development</strong>: Develop exercises from Module 4 and 5 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>. Not done.</li>

                </ul>

    <h3> Lessons learned</h3>

          <ul>
               
                       <li><strong>I removed the time frame, and that does not work</strong>: If I put a time goal, I force myself to get there.  If there is no time goal, there is no action structure to get there, and nothing gets done.
                      <br>

                       <li><strong>Be realistic</strong>: Can I really make it happen? </li>
                      <br>
                      
                      <li><strong>Be Specific</strong>: It was too generic, why not make it more specific so it can actually be achieved?</li>
                      <br>
                </ul>



                   <h1> October 2016 </h1><br>

          <h3> What I said I would do</h3>


 <ul>
               
                       <li><strong>Learning</strong>: On October I have been going through the Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>, which teaches <u><a href="https://www.coursera.org/learn/angular-js/home/welcome", target="blank">Front-End JavaScript Frameworks: AngularJS</a></u> .  I also read the book <a href='https://www.amazon.com/Rework-Jason-Fried/dp/0307463745'>ReWork</a> by by Jason Fried  and David Heinemeier Hansson </li>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: Organised Product Tank VC, and it went really well!</li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Wrote quite a lot but missed my daily writing and lost my 64 streak.</li>
                      <br>
                     
                       <li><strong>Development</strong>: I developed many of the exercises from Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>. Just missing week 4, which will be finished on November.</li>

                </ul>

                <h3> What I said I would do</h3>


 <ul>
               
                       <li><strong>Learning</strong>: On October I have been going through the Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>, which teaches <u><a href="https://www.coursera.org/learn/angular-js/home/welcome", target="blank">Front-End JavaScript Frameworks: AngularJS</a></u> .  I also read the book <a href='https://www.amazon.com/Rework-Jason-Fried/dp/0307463745'>ReWork</a> by by Jason Fried  and David Heinemeier Hansson </li>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: Organised Product Tank VC, and it went really well!</li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Wrote quite a lot but missed my daily writing and lost my 64 streak.</li>
                      <br>
                     
                       <li><strong>Development</strong>: I developed many of the exercises from Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>. Just missing week 4, which will be finished on November.</li>

                </ul>

                      <h1> September 2016 </h1><br>

                <h3> What I said I would do</h3>


             <ul>
               
                       <li><strong>Learning</strong>: Goal is to finish reading the book "Lean Analytics" and finishing the Module 2 of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u> I started to study last month.  Also ordered <a href="http://99u.com/book/making-an-impact", target="blank"> 3 books from 99U </a> and I would love to read at least one of them.  You can find more information in the <u><a href= "learning.html"> learning section of the site</a></u>.</li>
                      <br>

                        <li><strong>Product Tank</strong>: Close September talk and start putting together the one for October related with the topic of Venture Capital.</li>
                      <br>

                      <li><strong>My Blog</strong>: I would like start putting together summaries of books and MOOCs I've done.  I also want to change the background of specific MOOCS because currently they are books. </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Continue writing 750 words, and write something that I can publish, either related with Product Management or with Career change.</li>
                      <br>
                     
                       <li><strong>Development</strong>: If I can keep up with Module 2 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u> that would be more than enough for me.  Maybe some more development on my site, but this is optional.</li>

                </ul>
                <br>
              </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">

                <h3> What I've done</h3>

                <ul>
               
                       <li><strong>Learning</strong>: Goal was to finish reading the book "Lean Analytics".  I did not pick that book up, and its still pending to finish and put insights based on the reading.  I said I would finish <a href="https://www.coursera.org/learn/web-frameworks/", target="blank">Module 2 (Front-End Web UI Frameworks and Tools)</a> of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u> I started to study last month.  I also read 2 of the <a href="http://99u.com/book/making-an-impact", target="blank"> 3 books from 99U </a> ( Manage your day-to-day and Maximize your potential).  You can find more information in the <u><a href= "learning.html"> learning section of the site</a></u>.</li>
                      <br>

                        <li><strong>Product Tank</strong>: We successfuly organised <u><a href="https://www.meetup.com/ProductTank-Madrid/events/234217215/">Product Tank Madrid on September</a></u>, on the topic of Machine Learning.</li>
                      <br>

                      <li><strong>My Blog</strong>: Have just published one article in spanish to promote product tank madrid and also give some view on why this role is so important and creates so much value. </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Wrote each day on september, and earned a badge :)</li>
                      <br>
                     
                       <li><strong>Development</strong>: Did some development for Module 2 of  <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>.
                       </li>
                </ul>
                <br>
                <h3> Lessons Learned</h3>
                    <ul>
                       <li><strong>Analytics</strong>: I need to put focus on October on the analytics book to get the insights of the book and reflect those on Careershifters.</li>
                      <br>

                        <li><strong>Product Tank Conference</strong>: Went to <u><a href="http://mtpcon.com">Product Tank Conference</a></u> and learned a lot from speakers and fellow Product Managers!</li>
                      <br>

                      <li><strong>My Blog</strong>: Be present to my monthly goals! I did not review those as often as I would have liked to.</li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: I can write </li>
                      <br>
                     
                       <li><strong>Development</strong>: Did some development for Module 2 of  <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>.
                       </li>
                </ul>
                <br>




                   <h1> August 2016 </h1><br>

                <h3> What I said I would do </h3>
                 <ul>
                    
                       <li><strong>Learning</strong>: My goal was to study an course related with Google Analytics, and read the book "Lean Analytics".   <li>
                      <br>

                    <strong>Product Tank</strong>: Organising the next Product Tank Madrid, which should happen at the end of September. If you want to be up to speed with what is going on in Product Tank, <a href= "http://www.meetup.com/ProductTank-Madrid/", target="blank"> join Product Tank Madrid meetup</a> and be up to speed with the events we will launch.</li>
                      <br>

                      <li><strong>My Blog</strong>: The goal was to update the MOOCs and Books in the site, find the way to upload it all to heroku, change the URL so that I can use www.alexswiec.com for this blog, and make this site my official blog site.  </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: The goal was to get into the habit of writing again. I've enjoyed writting in the past, and want to get the habit back again, so this month the goal is to write at least 750 words per day.</li>
                      <br>
                     
                       <li><strong>Development</strong>: Ideal goal is to develop 30 minutes per day, with focus on putting RSpec test for my blog (yes, I do TDD on my blog, and I find it kind of cool btw).</li>

                       <br>
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal in my blog to provide career coaching for people who feel stuck in their career. </li>
                      <br>
                    </ul>
                      <br>


              <h3> What I've done</h3>
                  <ul>
                      <li><strong>Learning</strong>: I finished the course of Google Analytics and got the certificate.  I just found out I got to the tip of the iceberg, and need to study tons more!  I'm still reading Lean Analytics, and to be honest its a bit on hold on September.  Should focus and finish September. 
                      <br>

                      <li><strong>Product Tank</strong>: Nearly closed, hope we can announce early on September.</li>
                      <br>

                      <li><strong>My Blog</strong>: I slipped white a bit here, and I want to get back to work on this.  I think its a great way to start sharing my learnings with the world.  </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: I've started writing and didn't quit until today.  All August and into September and writing.</li>
                      <br>
                     
                       <li><strong>Development</strong>: Finished module one of full stack development specialisation.  Happy I'm moving forward on this, and my github is showing green all over the place! Good sign I did the work I commited to! .</li>

                       <br>
                       <li><strong>Career Coaching</strong>: Only ideas from here and there, but nothing official. Well, I booked a domain this month, lets see where that leads to!  </li>
                      <br>
                      <br>



                  <h3> Lesson Learned</h3>

                  <p> What I see is that I'm getting better and following thorugh at what I say! Maybe slipped on the book of Lean Analytics (will get back to it asap) and also slipped in my personal coaching practice.  Will put focus on this too.</p>




                <h1> July 2016 </h1><br>

                <h3> What I said I would do </h3>
                 <ul>
                    
                     <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal </li>
                        <br>
                     <li><strong>Daily exercise</strong>: I've gained quite a number of kilos on 2016.  The goal for this month is to do daily exercise and loose 2 kilos.</li>
                        <br>
 
                  </ul>
  
                  <h3> What I've done</h3>


                     <li><strong>My Blog</strong>: I've updated some of the content but not all.  Also not all books. Still need to push to productopm</li>
                        <br>
              
                       <li><strong>Career Coaching</strong>: No proposal, and I think unless more specific, I will not follow up on this.</li>
                        <br>
                      <li><strong>Daily exercise</strong>: Daily is too ambicious right now.  For next month doing 3 times per week and controling calories in is more than enough</li>
                        <br>

                  <h3> Lesson Learned</h3>

                  <p> What is missing is specificity on my personal goals.  If I'm not more specific, things will slip.  Let's try to put the Learning how to learn techniques into my life to get things done! </p>


                      <div class="col-md-offset-1">
                    <p>
                    <%= link_to "Back to Now", now_path, class: 'btn btn-warning' %>
                    </p>
                </div>