<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Alex Swiec</h1>
                        <hr class="small">
                        <span class="subheading">Product Manager and Career Advisor</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
            Thanks for taking the time to check my web!
            <p>
            This site is a personal coding challenge, so it's handcraft developed (except for the front end ,which I used  <a href="http://startbootstrap.com/template-overviews/clean-blog/">Clean Blog</a> Bootstrap Theme. 
            </p>
            <p>
            In this site I talk  <a title="about.html" href=" about.html">about me</a> and also <a href="learning.html"> learnings </a> I've had and continue to have in my professional career.   You can also see what I'm currently focused on <a href=" now.html"> now</a>. 

            <p>  
            Another section of the site is a collection of <a href="blog.html"> posts</a> with thoughts and opinions from my professional and personal experience (it's quite the same nowardays). 
            </p>
            <p>
            If there is anything you want to tell me, just <a title="contact form" href=" contact.html">get in touch</a> or drop me a <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> mail</a>.
            </p>             
            <p>
            All the best,
            </p>
            <p>
            Alex
            </p>

           </div>
        </div>
    </div>

    <hr>