
<%= render 'shared/page_header', bg_image: "img/home-bg.jpg",title: "Alex Swiec", subtitle: "Passionate about Product Management, Coaching and doing work that matters" %>

  
       <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                          
 
             <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//alexswiec.us15.list-manage.com/subscribe/post?u=c8a5af9da758c7d8e4aab6244&amp;id=7c97e758a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Get posts, Book and MOOC summaries in your inbox!</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

                <a target="_blank" href="https://www.amazon.co.uk/gp/search?ie=UTF8&tag=swiecone-21&linkCode=ur2&linkId=9419582393aa2dc719c96c4f729aa0a3&camp=1634&creative=6738&index=books&keywords=mindless eating by Brian Wansink PhD">Mindless Eating </a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=swiecone-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


                <a target="_blank" href="https://www.amazon.co.uk/Mindless-Eating-Brian-Wansink-PhD/dp/1848502524/ref=sr_1_fkmr0_1?s=books&amp;ie=UTF8&amp;qid=1501318568&amp;sr=1-1-fkmr0&amp;keywords=mindless+eating+by+Brian+Wansink+PhD%22%3EMindless+Eating+%3C%2Fa%3E%3Cimg+src%3D%22%2F%2Fir-uk.amazon-adsystem.com%2Fe%2Fir%3Ft%3Dswiecone-21&_encoding=UTF8&tag=swiecone-21&linkCode=ur2&linkId=ea26268be0135acfc9b6569e99924100&camp=1634&creative=6738">Mindless Eating </a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=swiecone-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c8a5af9da758c7d8e4aab6244_7c97e758a5" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->

            <hr>

            <div class="post-preview">
                    <a href="integration.html">
                        <h2 class="post-title">
Cloud Data Integration Software is giving even more power to startups</h2>
                        <h3 class="post-subtitle">
                            Integrating your favourite Cloud Software Services is not a question of "should I integrate or not" but rather which products do I use and how can I integrate them more powerfully.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on Mar 4, 2017</p>
                </div>
                <hr>

            <div class="post-preview">
                    <a href="cocreate.html">
                        <h2 class="post-title">
                           How to Co-Create Digital Products with Customers
                        </h2>
                        <h3 class="post-subtitle">
                            The art of listening to customers and creating products they love
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on Feb 22, 2017</p>
                </div>
                <hr>

            
                <div class="post-preview">
                    <a href="mindfulrw.html">
                        <h2 class="post-title">
                           Working Remotely, Mindfulness and Focus
                        </h2>
                        <h3 class="post-subtitle">
                            Are you finding remote work difficult and have problems to concentrate and get things done? 
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on October 20, 2015</p>
                </div>
                <hr>
             
                 <ul class="pager">
                    <li class="next">
                        <a href="blog">More Posts &rarr;</a>
                    </li>
                </ul>
               
                </div>   
            </div>
        </div>


    <hr>