
<%= render 'shared/page_header', bg_image: "img/home-bg.jpg",title: "Alex Swiec", subtitle: "Passionate about Product Management and doing work that matters." %>

  
       <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                          
 
             <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//alexswiec.us15.list-manage.com/subscribe/post?u=c8a5af9da758c7d8e4aab6244&amp;id=7c97e758a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Get posts, Book and MOOC summaries in your inbox!</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c8a5af9da758c7d8e4aab6244_7c97e758a5" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->

            <hr>

            <div class="post-preview">
                    <a href="cocreate.html">
                        <h2 class="post-title">
                           How to Co-Create Digital Products with Your Customers
                        </h2>
                        <h3 class="post-subtitle">
                            The art of listening to customers and creating products they love
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on Feb 22, 2017</p>
                </div>
                <hr>

            
                <div class="post-preview">
                    <a href="mindfulrw.html">
                        <h2 class="post-title">
                           Working Remotely, Mindfulness and Focus
                        </h2>
                        <h3 class="post-subtitle">
                            Are you finding remote work difficult and have problems to concentrate and get things done? 
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on October 20, 2015</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="ux.html">
                        <h2 class="post-title">

                    Product Manager, You should be concerned with User Experience
                        </h2>

                         <h3 class="post-subtitle">
                         What exactly is User Experience, and should Product Managers even care about User Experience?
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on October 12, 2015</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="joincs.html">
                        <h2 class="post-title">
                            This is why I joined Careershifters 
                        </h2>
                        <h3 class="post-subtitle">
                           ...and why you can also find a job you love!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="about.html">Alex Swiec</a> on September 12, 2015</p>
                </div>
   
                 <ul class="pager">
                    <li class="next">
                        <a href="blog">More Posts &rarr;</a>
                    </li>
                </ul>
               
                </div>   
            </div>
        </div>


    <hr>