
<%= render 'shared/page_header', bg_image: "img/home-bg.jpg",title: "Alex Swiec", subtitle: "Product Manager and Career Advisor" %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
        
            Thanks for taking the time to check my web!
            <p>
            This site is a personal coding challenge developed in <a href="http://rubyonrails.org/">Ruby on Rails</a> using <a href="http://startbootstrap.com/template-overviews/clean-blog/">Clean Blog</a>  Bootstrap Theme Template.
            </p>
            <p>
            In this site I talk  <a title="about.html" href=" about.html">about me</a> and also what I'm currently  <a href="learning.html"> learning and find out what I've learned in the past</a>.   If interested, you can also see what I'm currently focused on <a href=" now.html"> now</a>. 

            <p>  
            Another section of the site is a collection of <a href="blog.html"> posts</a> with thoughts and opinions from my professional and personal experience (it's quite the same nowardays). 
            </p>
            <p>
            If there is anything you want to tell me, just get in touch through <a title="contact form" href=" contact.html">the form</a> or drop me a <a href="mailto:alex@alexswiec.com?subject=Hello from Alex's Web Site"> mail</a>.
            </p>             
            <p>
            All the best,
            </p>
            <p>
            Alex
            </p>

           </div>
        </div>
    </div>

    <hr>