
<%= render 'shared/page_header', bg_image: "img/home-bg.jpg",title: "Alex Swiec", subtitle: "My professional site with a personal touch" %>

    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
        
            Thanks for taking the time to check my web!
            <p>
            In this site I share about  <a href="learning.html">what I'm learning</a>, and  what I'm focused on <a href=" now.html"> now</a>. 

            <p>You can also see a curated review of <u><%= link_to "books I've read", books_path %></u>  and <u><%= link_to "courses I've done", moocs_path %></u>, and you can also read the posts of <u><a href="https://medium.com/@swiecone"> my blog</a></u> (currently in Medium).</p>
           
            <p>
            All the best,
            </p>
            <p>
            Alex
            </p>

           </div>
        </div>
    </div>

    <hr>