
<%= render 'shared/page_header', bg_image: "img/home-bg.jpg",title: "Alex Swiec", subtitle: "Passionate about Product Management and doing work that matters." %>

    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
        
            My name is Alex, and I'm extremely passionate about Product Management, and I currently work as Head of Product for <u><a href="http://careershifters.org">Careershifters</a></u></p>

            <p><i> I also do Freelance work related with Product Management</i> </p>

            <p><strong>  If you are interested in working with me, please send me an email to <a href="mailto:alex@alexswiec.com">alex@alexswiec.com</a></strong></p>

            <p> In this site you can also find  <a href="learning.html">what I'm learning</a>,   what I'm focused on <a href=" now.html"> now</a>, and a curated review of <u><%= link_to "books I've read", books_path %></u>  and <u><%= link_to "courses I've done", moocs_path %></u>. </p>
            <p>Enjoy!</p>

           </div>
        </div>
    </div>

    <hr>