 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> This section exists thanks to <a href="http://www.sivers.org", target = "blank"    >Derek Sivers</a> and his call to action when launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal, so I just wanted to send him a virtual high five from the now section of my site.</p>


                <p> The word <i>Now </i> is something that has an extremely important meaning for me thanks to the learnings from Eckhart Tolle and his books "The Power of Now" and "A New Earth". </p>

                <p> But the real goal of this section is not to talk about Presence and being in the Now, but rather to point out personal projects I'm currently working on. 

                <p> Every month I will update what I'm working on.   If you want you can also see <a href="/historicnow.html">historical nows</a> that were now but are now in the past, and you can also find more detailed information around what I'm learning on the<a href= "learning.html"> learning section of the site</a>.  </p>
                <p> 
                This is what I'm going to be working in <strong> August 2016 </strong>:
                </p>
                <p>
                <ul>
                      <li><strong>Careershifters (Head of Product)</strong>: I will be working 4.5 days per week in Careershifters as Head of Product this month.</li>
                      <br>
                       <li><strong>Learning</strong>: My goal is to study an course related with Google Analytics, read the book "Lean Analytics". You can find more information in the <a href= "learning.html"> learning section of the site</a>.</li>
                      <br>

                        <li><strong>Product Tank</strong>: Organising the next Product Tank Madrid, which should happen at the end of September. If you want to be up to speed with what is going on in Product Tank, <a href= "http://www.meetup.com/ProductTank-Madrid/", target="blank"> join Product Tank Madrid meetup</a> and be up to speed with the events we will launch.</li>
                      <br>

                      <li><strong>My Blog</strong>: The goal is to update the MOOCs and Books in the site, find the way to upload it all to heroku, change the URL so that I can use www.alexswiec.com for this blog, and make this site my official blog site.  It may have bugs, it may have typos, I might regret, but the launch date was JULY and I must respect shift date. </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: The goal is to get into the habit of writing again. I've enjoyed writting in the past, and want to get the habit back again, so this month the goal is to write at least 750 words per day.</li>
                      <br>
                     
                       <li><strong>Development</strong>: I would love to continue putting into practice the RSpec learnings for my blog (yes, I do TDD on my blog, and I find it kind of cool btw).</li>

                       <br>
                       <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal in my blog to provide career coaching, and see if I can work with people in their career shift. </li>
                      <br>
                      <br>
                </ul>

            </div>
        </div>
    </div>

    <hr>