 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> This section exists thanks to <a href="http://www.sivers.org", target = "blank">Derek Sivers</a> and his call to action when launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal, so I just wanted to send him a virtual high five from the now section of my site.</p>

                <strong>This is what I'm going to be working on Feb and March 2017</strong> (<i>update on the 4th of February 2017</i>)
                </p>
                <ul>
               
                       <li><strong>MOOC Learning</strong>: Goal of next 2 months is to finish Ionic Framework learning from <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>, and also do <u><a href="https://www.udemy.com/seth-godin-freelancer-course/">Seth Godin's Freelancer Course</a></u>, and if I finish those 2, then review <u><a href="https://www.udacity.com/course/how-to-build-a-startup--ep245"> Steve Blank's How to build a Startup</a></u> </li>
                      <br>

                        <li><strong>Book reading</strong>: Finish the book <u><a href="https://www.goodreads.com/book/show/40745.Mindset">MINDSET: How you can fulfil your potential</a></u>. Also want to finish listening to <u><a href="http://www.audible.com/pd/Business/The-E-Myth-Revisited-Audiobook/B002V1LGZE"></u> The E-myth: Revisited</a>, which I'm enjoing. Third goal is to start again (and finish) the book <u><a href="http://leananalyticsbook.com/">"Lean Analytics"</a></u> and also read <u><a href="http://leanuxbook.com/">Lean UX </a></li></u>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: Close second Product Tank Madrid for 2017.</li>
                      <br>

                      <li><strong>Articles</strong>: Write at least four articles related with Product Management to promote next Product Tank event.<br>                      <br>

                      
                       <li><strong>Development</strong>: FInish the Full Stack Specification.  I want to have a quick view of NodeJS, but not do the coding, because I don't think I'll apply that knowledge now. I would rather revisit the course on Ruby on Rails I did some time ago, and keep improving that skill set.</li>

                </ul>

            </div>
        </div>
    </div>

    <hr>