 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p>I'm currently <u>working full time as Head of Product for <a href="https://www.careershifters.org">Careershifters</a></u>.  The mission is create products that enable coaches to coach and brave customers to look at what could the job that make them feel alive, and get into acction to get there.
                </p>
                <p> On top of that, I'm doing a bit of development every day, specifically focused on this blog currently. 
                </p>
                <p>
                  I'm also studying MOOC courses and reading books, which is something I love, and this is the list I'm currently looking at:
                </p>
                <ul>
                      <li><strong><a href="https://www.coursera.org/learn/questionnaire-design">[MOOC] Questionnaire Design Michigan University:</a></strong> Learing how to cover the basic elements of designing and evaluating questionnaires. </li>
                      <br>
                      <li><strong><a href="http://www.gv.com/sprint/#book">[Book] Reading Sprint:</a></strong> A book written by people in Google Ventures on how to solve big problems and test new ideas in just five days</li><br>
                      <li><strong><a href="https://www.coursera.org/learn/learning-how-to-learn">[MOOC] Learning how to Learn:</a></strong> This course gives you easy access to the invaluable learning techniques used by experts in art, music, literature, math, science, sports, and many other disciplines. We’ll learn about the how the brain uses two very different learning modes and how it encapsulates (“chunks”) information. We’ll also cover illusions of learning, memory techniques, dealing with procrastination, and best practices shown by research to be most effective in helping you master tough subjects.
                      </li>
                </ul>

            </div>
        </div>
    </div>

    <hr>