 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> This section exists thanks to <a href="http://www.sivers.org", target = "blank">Derek Sivers</a> and his call to action when launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal, so I just wanted to send him a virtual high five from the now section of my site.</p>


                <p> The word <i>Now </i> is something that has an extremely important meaning for me thanks to the learnings from Eckhart Tolle and his books "The Power of Now" and "A New Earth". </p>

                <p> But the real goal of this section is not to talk about Presence and being in the Now, but rather to point out personal projects I'm currently working on. 

                <p> Every month I will update personal projects I'm working on.   If you want you can also see <a href="/historicnow.html">historical nows</a> that were now but are now in the past, and you can also find more detailed information around what I'm learning on the<a href= "learning.html"> learning section of the site</a>.  </p>
                <p> 
                This is what I'm going to be working in <strong> Septemebr 2016 </strong>:
                </p>
                <p>
                <ul>
               
                       <li><strong>Learning</strong>: Goal is to finish reading the book "Lean Analytics" and finishing the Module 2 of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u> I started to study last month.  Also ordered <a href="http://99u.com/book/making-an-impact", target="blank"> 3 books from 99U </a> and I would love to read at least one of them.  You can find more information in the <u><a href= "learning.html"> learning section of the site</a></u>.</li>
                      <br>

                        <li><strong>Product Tank</strong>: Close September talk and start putting together the one for October related with the topic of Venture Capital.</li>
                      <br>

                      <li><strong>My Blog</strong>: I would like start putting together summaries of books and MOOCs I've done.  I also want to change the background of specific MOOCS because currently they are books. </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Continue writing 750 words, and write something that I can publish, either related with Product Management or with Career change.</li>
                      <br>
                     
                       <li><strong>Development</strong>: If I can keep up with Module 2 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u> that would be more than enough for me.  Maybe some more development on my site, but this is optional.</li>

                </ul>

            </div>
        </div>
    </div>

    <hr>