 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> The Now I'm pointing out is not each and every second, like now, now and now.  The Now I want point to is around personal projects I'm working on outside Careershifters.</p>

                <p> Projects presented also involve.  You can find more detailed information on what I'm learning now on the<a href= "learning.html"> learning section of the site</a>.  You will find a summary in this section too.</p>

                <p> As "Now" does not point out to a specific period of time, I will define "Now" as the projects I'm focused on a monthly basis.  This means the section I'm presenting here is for the month of<i> July 2016 <i>.  If you want to see historical "Nows", click <a href="#">here </a>. 
                </p>

                <p>
                <ul>
                      <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                      <br>
                      <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal </li>
                      <br>
                      <li><strong>Daily exercise</strong>: I've gained quite a number of kilos on 2016.  The goal for this month is to do daily exercise and loose 2 kilos.</li>
                      <br>

                </ul>

            </div>
        </div>
    </div>

    <hr>