 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> This section exists thanks to <a href="http://www.sivers.org", target = "blank">Derek Sivers</a> and his call to action when launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal, so I just wanted to send him a virtual high five from the now section of my site.</p>


                <p> The word <strong>Now </strong> is something that has an extremely important meaning for me thanks to the learnings from Eckhart Tolle and his books <i>"The Power of Now"</i> and <i>"A New Earth"</i>. Although I find Eckhart's work fascinating, the  goal of this section is not to talk about being in the Now, but rather present personal projects I'm currently working on. 

                <p> Every month I will update this page of the site   You can also see <i><a href="/historicnow.html">historical nows</a></i>.  You can also find more detailed information related with what I'm learning on the<i><a href= "learning.html"> learning section of the site</a></i>.  </p>
                <p> 
                This is what I'm going to be working in <strong> October 2016 </strong>:
                </p>
                <p>
                <ul>
               
                       <li><strong>Learning</strong>: Goal of this month is to finish reading the book "Lean Analytics" and finishing the Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>, which teaches <u><a href="https://www.coursera.org/learn/angular-js/home/welcome", target="blank">Front-End JavaScript Frameworks: AngularJS</a></u> .  I also and to finish reading Lean Analytics book and I would love to read the last book of the 99U series, and review the book $100 Startup. </li>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: Close October talk and start putting together the one for December.</li>
                      <br>

                      <li><strong>My Blog</strong>: Write reviews for the following books: . </li>
                      <br>
                      
                      <li><strong>750 words project:</strong>: Continue writing 750 words, and write something that I can publish, either related with Product Management or with Career change.</li>
                      <br>
                     
                       <li><strong>Development</strong>: Develop exercises from Module 3 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>. Maybe some more development on my site, but this is optional.</li>

                </ul>

            </div>
        </div>
    </div>

    <hr>