 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p>Thanks <a href="www.sivers.org">Derek Sivers </a>for the launching the <a href="www.sivers.org/now">now</a> proposal! My Now page presents projects I'm working on this month (July 2016).  If you want you can also see <a href="#">historical nows</a> that were now but are now in the past. </p>

                <p> You can find more detailed information around what I'm learning on the<a href= "learning.html"> learning section of the site</a>.  You will find here a small summary in this section.</p>
                </p>

                <p>
                <ul>
                      <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                      <br>
                      <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal. </li>
                      <br>
                      <li><strong>Daily exercise</strong>: I've gained quite a number of kilos on 2016.  The goal for this month is to do daily exercise and loose 2 kilos.</li>
                      <br>

                </ul>

            </div>
        </div>
    </div>

    <hr>