 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> The Now I'm pointing out is not each and every second, like now, now and now.  The Now I want point to is around personal projects I'm working on outside Careershifters.</p>

                <p> They involve <a href= "learning.html"> learning </a> (and you can find what I'm currently <a href= "learning.html">learning on the learning section of the site</a>), but are not only limited to this </p>

                <p> Here is a list of the things I'm working on <i> July 2016 <i>:
                </p>
                <p>
                <ul>
                      <li><strong>thing 1</strong>: description of thing 1 </li>
                      <br>
                      <li><strong>thing 2</strong>: description of thing 2 </li>
                      <br>
                      <li><strong>thing 3</strong>: description of thing 3 </li>
                      <br>
                      <li><strong>thing 4</strong>: description of thing 4 </li>
                      <br>
                </ul>

            </div>
        </div>
    </div>

    <hr>