 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> This section exists thanks to <a href="http://www.sivers.org", target = "blank">Derek Sivers</a> and his call to action when launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal, so I just wanted to send him a virtual high five from the now section of my site.</p>

                <strong>This is what I'm going to be working on January 2017</strong> (<i>update on the 31th of December 2016</i>)
                </p>
                <ul>
               
                       <li><strong>MOOC Learning</strong>: Goal of this month is to finish Ionic Framework learning from <u><a href="https://www.coursera.org/specializations/full-stack", target="blank">Coursera Full Stack Specialization</a></u>. </li>
                      <br>

                        <li><strong>Book reading</strong>: Finish the book <u><a href="https://www.amazon.com/gp/product/1591844207">The Education of Millionaires</a></u> or why it's Not What You Think and It's Not Too Late. Also start once again the book "Lean Analytics"</li>
                      <br>

                        <li><strong><a href="https://www.meetup.com/ProductTank-Madrid/", target="blank">Product Tank Madrid</a></strong>: Close first Product Tank Madrid for 2017.</li>
                      <br>

                      <li><strong>Book and MOOC Summaries</strong>: Wrote 2 great books from <a href="http://www.stevenpressfield.com/">Steven Pressfield</a>,  <i> The War of Art</i> and <i> Turning Pro</i>.  Start taking notes of the books or Moocs I'm currently reading, which are Ionic Development Framework from Coursera and The Education of Millionaires.
                      <br>                      <br>


                      <li><strong>Articles</strong>: Write at least one article on product management, to be shared before we launch Product Tank next edition<br>                      <br>

                      
                       <li><strong>Development</strong>: Develop exercises from Module 4 of the <u><a href="https://www.coursera.org/specializations/full-stack">Coursera Full Stack Specialization</a></u>. The goal is to finish the Ionic Framework course.</li>

                </ul>

            </div>
        </div>
    </div>

    <hr>