 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/now-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Now</h1>
                        <hr class="small">
                        <span class="subheading">Things I'm currently focused on </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                <p> The word <i>Now </i> is something that has an extremely important meaning for me thanks to the learnings from Eckhart Tolle and his books "The Power of Now" and "A New Earth". </p>

                <p> But the real goal of this section is not to talk about Presence and being in the Now, but rather to point out personal projects I'm currently working on. I also want to take the opportunity to thank <a href="http://www.sivers.org", target = "blank"    >Derek Sivers </a>for launching the <a href="http://nownownow.com/about", target = "blank">now</a> proposal. </p>

                <p> Every month I will update what I'm working on.   If you want you can also see <a href="#">historical nows</a> that were now but are now in the past, and you can also find more detailed information around what I'm learning on the<a href= "learning.html"> learning section of the site</a>.  </p>
                <p> 
                This is what I'm going to be working on in <strong> August 2016 </strong>:
                </p>


                <p>
                <ul>
                      <li><strong>Careershifters (Head of Product)</strong>: Most of the time I´m focused on making great products for people who find they are working in the wrong job.  We combine technology, design, great content and professional coaching to help people make successful career shifts.</li>
                      <br>
                      <li><strong>My Blog</strong>: I'm updating the content of the site before publishing it.  The goal for this month is to have the books uploaded to the site, and also the MOOCs.  Also the posts in the site should be re-written. </li>
                      <br>
                      <li><strong>Career Coaching</strong>: I've learned a lot from working on Careershifters and also on my own shift. This month I want to put a proposal. </li>
                      <br>
                      <li><strong>Learning</strong>: My goal is to study and learn a minimum of one MOOC and one book per month. You can find what I'm foduced on this month in the <a href= "learning.html"> learning section of the site</a>.</li>

                      <br>
                </ul>

            </div>
        </div>
    </div>

    <hr>