<%= render 'shared/page_header', bg_image: "img/moocs-bg.jpg",title: "MOOCs", subtitle: "Online Courses I've done" %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <!-- Main Content -->
     <% @moocs.each do |mooc| %>
                        <figure>
                            <a href="#" style="float:left;padding-right: 15px;">

                                <%= image_tag mooc.thumburl%></a>
                            <figcaption>
                                <h3>
                                <%= link_to "#{mooc.title}", mooc_path(mooc) %>
                            </h3>
                            </a>

                        <p><%= mooc.shortsummary %></p>


                            </figcaption>
                        </figure>
            <% end %>

           </div>
        </div>
    </div>

    <hr>