<%= render 'shared/page_header', bg_image: "img/moocs-bg.jpg",title: "MOOCs", subtitle: "Online Courses I've done" %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
            <p> 
                Here you will find a list of the MOOCs I have done until this date, in chronoogical, being the first ones on the list the courses I've done most recently.
            </p>
             <ul>
                <li><strong><a href="https://www.coursera.org/learn/questionnaire-design">[MOOC] Questionnaire Design Michigan University:</a></strong> Learing how to cover the basic elements of designing and evaluating questionnaires. </li>
                <br>
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <p>
                    

           </div>
        </div>
    </div>

    <hr>