<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../img/findabook-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= title %></h1>
                        <hr class="small">
                        <span class="subheading">
                                
                <p>Institution: 
                            <span style="font-style: italic"><%= institution %></span>
                    Status: 
                            <span style="font-style: italic"><%= status %></span>
                    Rating:
                        <% if status == "Studying" %> 
                            <span style="font-style: italic"> tbd. </span>
                        <% else %> 
                             <span style="font-style: italic"> <%= rating %>/ 10 </span>
                        <% end %>
 

                    </div>
                </div>
            </div>
        </div>
    </header> 