<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/findabook-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Book Search Result </h1>
                        <hr class="small">
                        <span class="subheading">Book Title, ISBN, Thumbnail URL and Image</span>
                    </div>
                </div>
            </div>
        </div>
    </header> 

  <div class="container">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
        <p>
			<strong>Book Title: </strong><%= book_title(@isbn) %>
		</p>

	    <p>
			<strong>ISBN: </strong><%= @isbn %>
		</p>

		<p>
			<strong>Book URL Thumbnail: </strong><%= book_thumbnail(@isbn) %>
		</p>
			<strong>Book URL Thumbnail </strong><br>
		<%= image_tag book_thumbnail(@isbn) %></a>
	   </p>
			</div>
		</div>
	</div>
