
<%= render 'shared/blog_header', bg_image: "img/education-bg.jpg",title: "The Education of Millionaires", subtitle: "Everything you won’t learn in college about how to be successful", author: "Alex Swiec", date:"Jan 31, 2017"  %>


<div class="container">
	<h1 style="margin: 0.0px 0.0px 8.0px 0.0px; line-height: 36.0px; font: 27.0px Arial; color: #000000; -webkit-text-stroke: #000000"><span class="s1">The Craiglist Test of the Value of a BA</span></h1>
	<p class="p4"><span class="s1">Bryan Franklin, a college dropout, wanted to hire a $10/hour administrative for a data entry job. He got an application from a Harvard MBA.  

		<br><br>The conclusion is that getting a BA does not secure a good job, and that in tough markets, you’d rather be Bryan than the Harvard MBA.<span class="Apple-converted-space"> </span></span></p>
	<h2 style="margin: 0.0px 0.0px 8.0px 0.0px; line-height: 29.0px; font: 21.0px Arial; color: #000000; -webkit-text-stroke: #000000;font-weight:bold;text-decoration:underline">Do you chase a degree or do you chase success?</h2>
	<p class="p4"><span class="s1">From 6 to 22 years old we focus on having good degrees.  How did we get to think that getting good grades equals <i>success in life?</i></span></p>
	<p class="p5"><span class="s1"></span><br></p>
	<p class="p5"><span class="s1"></span><br></p>
</div>