<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
<%= render 'shared/book_header', bg_image: "i../img/findabook-bg.jpg",title: @book.title, isbn: @book.isbn, read: @book.read, status: @book.status, rating: @book.rating %>


    <div class="container">
        <div class="row">

                <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07" style="margin-bottom: 100px">
                            <span style="float:left;padding-right: 15px;"><%= image_tag @book.thumburl%></span>
                            <figcaption>
                   <p>
                      <strong>Short Summary </strong><br><br>

                <%= @book.shortsummary %></p>
                            </figcaption>
                        </figure>
        </div>

        <div class="row">
                <div class="col-md-offset-1">
                    <p>
                    <%= link_to "Books Index", books_path, class: 'btn btn-primary' %>
                    </p>
                </div>
        </div>
    </div>