
<%= render 'shared/page_header', bg_image: "img/consciouspm-bg.jpg",title: "A Product Manager Should Be a Conscious Leader", subtitle: "" %>


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    &nbsp;
                    <p>
                    Some days ago I had a conversation with a really powerful person with connections to world leaders including Fortune 500 CEOs and Presidents of nations.  After our conversation, I have come to realise the power leaders have, and the impact they can bring to families, teams, organisations and nations.
                    </p>
                    <p>
                    The vision of the leader, the way they communicate, the decisions they make and the ones they do not make, the way they see their environment and the world impacts all the people that work with and under them.
                    </p>
                    <p>
                    The person I met mentioned how relationships between the president of a nation and his wife or vice president can critically affect the well being of the citizens of the country they rule.  He explained how integrity or corruption permeates all levels of society, and can affect millions of lives.  He also could envision a new way of leadership in which integrity and honesty would make a huge impact in those same countries.
                    </p>
                    <p>
                    But not only nations are affected by leadership.  If the parents of a family do not envision the type of relationships they want to have between themselves, and do not talk about the type of live they want to create together, there is a chance of miscommunication and repercussion in their relationship and their children.
                    </p>
                    <p>
                    Same analysis can be done for organisations, and how they can loose track of their vision and mission due to the miscommunication between directors.  This miscommunication is passed down to lower levels of the hierarchy, and suspicion and threads start to be raised between departments.
                    </p>
                    <p>
                    A leader should be conscious and understand the enormous impact his communication and behaviours bring to the organisation.   And he should be clear on what his vision is, and how his day to day actions are aligned with that vision.
                    </p>
                    <p>
                    Putting now focus on the Product Management role, it’s incredibly transparent now how products resonate the good or bad communication teams have based on a very simple analysis of the product, and the good or bad influence a Product Manager has on the products he leads.
                    </p>
                    <p>
                    Sometimes products have a really poor user experience, security flaws, may not be compliant or the marketing could not clearly communicate the benefits the product brings to the market place.  Other times the product seems to flow and users just love it.
                    </p>
                    <p>
                    Looking behind the surface we will see if the Product Manager is correctly communicating and involving different departments such as user experience, security, compliance or marketing.   The leadership of the Product Manager, his communication with the team will permeate the product.
                    </p>
                    <p>
                    The leadership and consciousness of the Product Manager will bring his vision  closer or farther away to reality, and will certainly have a great impact on the success and long term revenues of the product.
                    </p>
                    <p>
                    The natural conclusion of this post is that although important tasks such as writing features, doing sprints backlog and product backlog maintenance,  creating  personnas, analysing competition, are certainly needed, if there is no space for vision, leadership, inspiration and communication, products will suffer and ultimately fail.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>
