<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/joincs-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Working Remotely, Mindfulness and Focus</h1>
                        <h2 class="subheading">
                        </h2>
                        <span class="meta">Posted by <a href="about.html">Alex Swiec</a> on October 20, 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                   Every time someone changes role, I’m curious about what was the trigger that made the change happen.  I thought it would be a good idea to share the reason why I left a promising career as Product Manager in Financial Services, and joined Careershifters, a young enterprise that helps professionals find work they love, as Head of Product.  
                </p>
                <p>
                    The first thought that came to my mind was to make a list of reasons, as  if there had been a logical chain of events that brought me to this job.   The reality is that there was no logical list but rather an alignment between what I do on a day to day basis to earn a living and what makes me feel alive and excited.
                </p>
                <p>

                    I put a lot of time into reading about entrepreneurship and social entrepreneurship, user experience, agile product management, online education, coaching, SaaS development, behaviour driven design (BDD), test driven design (TDD), lifestyle design, traveling and also psycology and specifically the one that talks about how to overcome fear of failure.  But as much as I put all that time into those things I enjoyed, in the past they were not part of my day to day work.
                </p>
                <p>

                    It’s very scary to find out one day that your work has so little to do with what makes you feel alive. During a long time I lived as if this condition was normal, as if the logical separation in my mind between work and passion was the only way to go about my career in live.   And I had all the evidence in the world to proof my point, because almost everybody around me was in the same position as I was.   This was good and disheartening at the same time, because I felt this feeling was there to stay, but I was not the only one who had it.
                </p>
                <p>

                    Joining Careershifters as a customer taught me to first believe that merging passions and work can be a reality.  And the interesting reality I have found as an employee is that when you are doing work you really enjoy and people around are also doing the same, work becomes much more natural and many times more productive and easy to overcome, even when workload goes crazy.  You can feel tired at peak times, but never the feeling of exhaustion I sometimes felt on previous roles.
                </p>
                <p>

                    The following, rather than a list of rational reasons why I decided to accept the role of Head of Product Management at Careershifters, are some of the themes that started to appear while being customer of the company that is now my employer.
                </p>
                <p>

                    Startup Culture and Work:  Although Careershifters has been around for a while, the culture is totally aligned with the startup culture.   I remember being fascinated while seeing the video Brian Chesky (co-founder of AirBnB) when they were totally broke and started selling cereal, and I thought “that is soooo cool”.   It was cool for me because of this startup culture that gives you permission to try new things, even if they seem crazy, and putting as your only excuse the true believe in your venture.  For many years I’ve been  inspired by Startups.  I've loved reading the stories of startups impacting the world, how they redefine established markets, and how people in startups are so excited about the work they do.  It was inspiring to see the guys at Careershifters being totally convinced about changing the way people relate with their work, and see exactly that same excitement in some of my colleague’s eyes when they talk about Careershifters.
                </p>
                <p>

                    Working for an inspiring boss:  Richard has a really inspiring story to tell.  He left a well paid consultant role in an american blue chip corporation, and worked for UnLtd UK (https://unltd.org.uk/), one of the most inspiring Social Entrepreneurship accelerator in the world.  He afterwards co-founded UnLtd India, and also launched two more startups: Careershifters and Journeys for Change.  He has several awards related with Entrepreneurship such as “Future 100 Young Entrepreneurs Winner” or the “UnLtd Millennium Award Winner”, and in his LinkedIn profile the top 3 Skills are Entrepreneurship, Start-ups and Social Entrepreneurship.  Isn’t that inspiring enough to join Careershifters?
                </p>
                <p>

                    Free Coaching:   Since I started working with Careershifters as a customer and then as an employee, the way I see the world has totally changed.  You see, it’s not difficult to find work you love.  In hindsight it’s quite easy.  The difficult part is changing the way you see yourself, the way you see the world, and most importantly, the way you see yourself fitting in the world (of work in this specific case).   Coaching is important because through guided action of your coach you start to open to the possibility of a world that did not exist before.  This is what happened when I did the London Workshop for the first time.  I saw that my values and my work was not aligned, and I saw that there could be other ways, although at the moment I did not know what that could look like.  And it came much deeply when I did the Pioneer Course, which is an intensive 8 week coaching program to get into action and finding what really makes you tick and how to get there. The coaching Careershifters has provided me has had a great impact in my life, and the way I fundamentally see the world.   All of the coaching was really useful at the time, and the good thing about working for Careershifters now is that my vision of the world and what is and not possible is continually challenged.  In other words, every day I get free coaching that changes my perception of myself and the world.
                </p>
                <p>

                    Defining Product Life Cycle and Being Closer To Customers: In Careershifters I’m defining how digital products will be designed, developed, tested and launched.  It’s a really exciting period in my life, as I get put into practice many of the things I’ve been reading and studying for years but had challenges to implement due to the environment I was working in.  Nothing wrong with my previous roles, but the nature of the businesses and the corporations I worked with did not enable flexibility on implementation new ways of product development, as many of the methodologies had already been defined and agreed by many stakeholders.  Having this opportunity enables me to bring methodologies, tools and techniques that I believe make products great.  And the very best part of creating products in Careershifters is the proximity with our Customers.  We talk to them every two weeks on our London Workshops.  We see them face to face on our online workshops and courses.  we call them and ask about their experience working with us.  They talk openly to us, tell us what their pains and needs are, which means we can really get to understand our customers, and align our products and services to fulfill their needs.
                </p>
                <p>

                    Choosing Possibility vs. Probability:  It was on a workshop at Escape School that the idea of choosing Possibility vs. Probability came to me, and it really made an impact in my life. Probability is following the known career path, which is predictable and without risks.  It’s like autopilot. If you don’t make much changes, you will probably reach that original destination.  Possibility is following the unknown path and taking the risk for something that excites you and makes you jump all over the place, but not knowing if it will go as you planned, or blow up in your face (hence possibility).  Working as a Product Manager in the Financial Services sector is like winning a "Golden ticket to Probability-land".  Financial Services is a huge, growing market (specially in London) that the probability of continuing in this sector was extremely big.  The other probability was to go back to the Telecommunication sector. Nothing wrong with probability.  It’s stable, it’s predictable, and it pays really well.  But my heart was asking me for a change, and when fear and not passion and excitement is the one that keeps you on a job, it can be quite daunting.   Careershifters had the word posibility all over the place.  It’s a very small organisation working in a way I had never worked before (although I took training for it), and in a field I had only personal but no working experience.  Now I feel I’ve found my place inside Careershifters, but the possibility that the shift did not go as expected was quite real at the time.
                </p>
                <p>

                    Part Time Role and the Possibility of Freelancing:  Although I was a bit wary to share I’m on a part time role at Careershifters, after reading an article from Anabela Perozek on Fast Company called “The Antidote to always-on work mode”, I thought it was not such a bad idea to share this too.   Sometimes in life it’s not all about making money, but having more time, and when joining Careershifters I was desperate for more time in my life.  Being Part Time has primarily enabled me two things.  First, spending much more quality time with my family. Secondly, having a lot of time into one of my just found passions which I’ve recently rediscovered is web development.   Who would have told me that after nearly 9 years without writting code would I love so much again? For me, testing old passions has truly been a discovery I was not expecting!  Life truly brings surprises when you take the possibility path.  The other hidden gem I realized when reading Anabela’s article is that when working part time, my honest opinion is that productivity is higher.  You don’t have 5 whole days to get all things done.  The need to prioritize and focus are much more demanding, so much of the time filling tasks you have the luxury to do on a regular 9-5 job need to be left undone if you want to move forward.   Last but not least, part time work has been the opportunity to leave an open door to freelancing, which is something that I’ve wanted to try, but full time employement did not enable that possibility.
                </p>
                <p>

                    Founded after the 2K crash:   As much as organisations don’t want to be impacted by their past, there is  cultural baggage that is so difficult to remove.  The processes, communication channels, procedures and company structures take time and great courage at the executive level to modify. When thinking of changing roles, the idea of joining an internet organisation that was founded well into the 21st century was really attractive.  Careershifters was founded on 2006, and is still small enough for me to contribute to the company culture, specially when talking about product creation.
                </p>
                <p>

                    Exponential Growth:  Working for big blue chip corporations is seen as a stable and predictable career option.  Theory says that there are no major surprises. Every year there is a pay rise, you have open postitions to change role and location, and as years go along your experience grows and you are more respected and connected in the organisation.   Your time tables are well defined, and your retirement and benefits packages get better over time.   On the other hand, nobody expects to become rich in a big corp.   It’s like working on a cruise ship.  There are many things to do but don’t expect to find a new island in the ocean.  On the other hand, startups and small organisations have great growth opportunities, so much liberty, fun and team collaboration, and the feeling is that there are new treasures to be found in every corner of the world.   And using a naval analogy again,  there is a higher risk that the boat might sink if a big storm comes along.
                </p>
                <p>

                    Here are the themes that made me join Careershifters.  So, what are your themes? What is burning inside that cannot be expressed in your current work?  If you got this far into the article, please do yourself a favour and get a piece of paper and a pen, and start putting down your themes.   If you do this exercise oftenly, you will surely start finding patterns that could lead you to a career that could be better that you could ever imagine in your wildest dreams.   And once you finish this exercise, please do share it your findings with me at alex@careershifters.org

                </p>


                </div>
            </div>
        </div>
    </article>

    <hr>
