<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/loop-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> The Loop, and How To Get Out  </h1>
                        <h2 class="subheading">
                        </h2>
                        <span class="meta">Posted by <a href="about.html">Alex Swiec</a> on October 20, 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>     
              


            What I understand as “The Loop” is a situation in which a project enters into a working mode in which no outcome seems to happen.  Everything seems to go over and over again, and the the same problems occur, the same situations are faced, and the product seems stuck.
            <p>
            In this kind of situations, it is the Product Manager, if he has enough authority over the product, the one who needs to challenge and try to break through “The Loop”.
            </p>
            <p>
            The first analysis of all is measuring the progress of the project, the amount of features developed, and the impact in the number of users and revenue the outcome of the developments are.   If there is proof that there is insufficient progress (and that is ALWAYS the case in projects that have entered the loop), then the Product Manager has to make the team shift direction so that the loop is broken.
            </p>
            <p>
            If the problem is not in the team, or the authority of the Product Manager is not sufficient to shift the stuckness of the project, then the next step is to prepare  a strategy to present to senior management.  This can be in the form of an informal chat over a coffee, or a more formal approach in which timelines, progress and revenues clearly point to the loop, and then alternative approaches to break the loop are presented.  There should always be at least two alternative approaches on how to solve The Loop, clearly explained so that Senior Management can make informed decisions on what route to take.
            </p>
            <p>
         
            If senior management cannot make a shift in the way the project is moving forward, and non of the alternatives seems to convince them about the need of change, then you might need to evaluate if the problem of The Loop is systemic.  in other words, the culture of the company comes into play, and as Peter Drucker used to say, “Culture eats Strategy for Breakfast”.    If you encounter this situation, there are only two ways out of the Loop.
            </p>
            <p>
         
            Keep on Challenging The Loop:  This means that as a Product Manager you keep on challenging The Loop.  You look for new ways to communicate your ideas.   You introduce changes and use the same names the team uses so that the changes are not immediately rejected.  You bring articles that backup your proposals.  You bring experts that can support you in the changes you want to do.   In summary, you keep in challenging assumptions that block your product, because this is one of the reasons Product Managers get paid.
               </p>
            <p>
         
            Move On:  The second alternative is to move on.  You accept that there is a loop in the product, and you look for other adventures elsewhere, be it internal products in the same company, or externally.
               </p>
            <p>
         
            A third alternative which I did not mention is acceptance, which would mean to go with the flow and accept working in a stuck product.  The problem with this approach is that you loose the opportunity of the always steep learning curve Product Managers need when evolving a product.  And not only that, your putting your name on a product that is stuck means accepting stuckness as an acceptable condition to be, and that brings lots of negative feelings, specially negative feelings of your worth as a Product Manager.
   </p>
            <p>
         
            The conclusion then should be that if you encounter a product that has turned into a loop, do your best to get out of The Loop as fast as possible.
            </p>
                </div>
            </div>
        </div>
    </article>

    <hr>
