<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/mindful-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Working Remotely, Mindfulness and Focus</h1>
                        <h2 class="subheading">
                        </h2>
                        <span class="meta">Posted by <a href="about.html">Alex Swiec</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>If you working remotely and find it difficult to concentrate and get things done? Do you feel your day goes and don't have a clue of where the hours went?</p>

                    <p>
                    Mindfulness is here to help you get focused and not distracted with minutia.
                    </p>

                    <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

                    From conversations with remote workers, I've seen the biggest challenges are:

                    <ul>
                        <li>At home you have a lot of distractions that can make get you distracted on the work to be done</li>
                        <li>Not being able to distinguish clearly work from personal life</li>
                        <li>Wasting time and finding out at the end of the day no work has been done</li>
                    </ul>
                    <p>
                    My personal experience with Mindfulness has been that it enables to be more conscious of how the mind "flies away" and how to get it back to the present moment.  On top of the many benefits it has on my day to day life, I've realised that Mindfulness is also helping get more work done faster and with less distractions when working remotely.
                    </p>
                    
                    Some examples are:
                    <ul>
                        <li>In the past I could jump from one page to another page to another page, and after a couple of hours feel guilty I lost my time without work being done.  With Mindfulness, when the process of jumping from one place to another in the internet comes, it's easier to detect the pattern and stop it, and go back to my daily to do list</li>
                        <li>In the past multi tasking was something that happened regularly.  Trying to attend a meeting while answering mails and checking personal whatsapp.  Not any more.  Mindfulness teaches to focus on one thing at a time, and not let the mind get into too many things at the same time.</li>
                        <li>Monitor emotions and not take them too seriously.   In the past I could get caught in emotional turmoil, I can detect if faster and get out faster.</li>
                    </ul>
                    If you think you don´t have time for Mindfulness, think twice, and make time for Mindfulness.  The remaining of your day after the practice will have more focus, clarity and presence.

                </div>
            </div>
        </div>
    </article>

    <hr>
