<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/ux-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>  You should be concerned with User Experience
</h1>
                        <h2 class="subheading">
                        </h2>
                        <span class="meta">Posted by <a href="about.html">Alex Swiec</a> on October 12, 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                   User Experience has become a buzz word, but what exactly is User Experience, and should Product Managers even care about User Experience?
                </p>
                <p>
                    In the old days, the experience of the user was not that important, and the weight of the development of products was more on the business and technical side.
                </p>
                <p>
                
                    In reality, the world was a more known and stable place for product creation, and if the customers encountered bumps along the way of their experience interacting with products, that was not such a big problem.
                </p>
                <p>
                
                    The reality of today’s world is very different. Users, specially in the digital arena, have tons of hours of flight interacting with applications and websites, and they have no patience for incoherent experiences or products that don't fit their needs.
                </p>
                 <p>
                
                    It’s also very viral on today’s world when an application fits exactly to customer’s needs. Word of mouth spreads quickly, and social media messages goes viral at the speed of light if something is working for the target group using the digital product that fits their needs.
                </p>
                <p>
                
                    If you are managing digital products, it’s fundamental to have as a key pilar of your product the experience that customers will have when interacting with your product.
                </p>
                <p>
                
                    If you are a product manager, it's extremely important that the products you build are designed insight out with the specific people that are going to use it. If the app is for a person about to retire, putting lots of social media is not the best idea in the world. If you are going to create an app for millennials and the boarding process is full of terms and conditions and you make them go through lot's of hoops, prepare yourself to have a really big failure in the short term.
                </p>
                <p>
                
                    Technology used, strategy, roadmaps, delivery dates, all this is important, but if you deliver does not fit your customers’ needs and they find your product confusing and difficult to use, then all the previous important things to consider will not make your product sell, and you will end up in a product that no one wants to use.
                </p>
                <p>
                
                    So, how to you put User Experience into the picture when you are not a User Experience professional? If you cannot convince your organisation of the extreme importance of this role, you will to "hack the UX role".
                </p>
                <p>
                
                    Start by asking yourself who are your customers and what are the needs to be solved for them. Then put some theories of the most fundamental challenges your product needs to solve, and then plan some paper prototype mockups. The last step, the one that brings most resistance, and the one you really need to do, is to bring some of your users (or at least some that are aligned with your prototype personna) and let them play around and see if your hipothesys are actually correct or full of holes. If correct, high five, you are on the right path. If not, pivot, and test again.
                </p>
                <p>
                
                    Although all of this should not be the main focus of a Product Manager, the product is your responsibility, and it’s also your responsibility to make sure that User Experience is taken into account.
                </p>

                </div>
            </div>
        </div>
    </article>

    <hr>
